.trans-con {
    border: 6px solid #ff6f61;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
}

.trans-box {
    border: 6px solid #daa520;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
}

#img-popup {
    display: none;

    position: fixed;
    z-index: 999;

    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0,0,0,0.9);
    border: border: 6px solid #ff6f61;;
    border-radius: 8px;

    justify-content: center;
    align-items: center;
}

#zoomed-img {
    animation: zoomIn 0.2s;
}

@keyframes zoomIn {
    from {
        transform: scale(0.8);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

#alphabet-img {
    transition: 0.2s;
}

#alphabet-img:hover {
    transform: scale(1.03);
}

.bgaccent {
    font-family: Urbanist;
    color: #f5e8d8;
    background-color: #1c1c1c;
}

.guide {
    color: #1c1c1c;
}
